@import url('https://fonts.cdnfonts.com/css/technology');

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  width: 400px;
  padding: 20px;
  margin: 10px auto;
  background-color: #0d1321;
  border-radius: 10px;
}
.buttons{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4,auto);
  grid-template-rows: repeat(4,100px);
}
.buttons > button{
  cursor: pointer;
  font-size: 50px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #2779a7;
  color: #fff;
}

.output{
  background-color: #bac00a;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
}
.output .display{
  width: 370px;
  height: 95px;
  font-size: 100px;
  font-family: 'Technology', sans-serif;
  text-align: right;
  padding-right: 12px;
  padding-top: 12px;
  border: none;
  outline: none;
  background-color: #52b788;
  color: #000;
}

.delete{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-right: 10px;
  margin: 5px 0;
  color: #fff;
}
.delete > button{
  width: 95px;
  cursor: pointer;
  font-size: 50px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #a10220;
  color: #fff;
}
.delete > button:hover{
  background-color: #b23a48;
}
.buttons > button:hover{
  background-color: #748cab;
}